@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../woff2/PretendardVariable.woff2') format('woff2-variations');
}

:root {
    --primary-10: #e6fff8;
    --primary-20: #b0ffeb;
    --primary-30: #87ffe5;
    --primary-40: #35fcdf;
    --primary-50: #0cefd3;
    --primary-60: #00c9b9;
    --primary-70: #00a39b;
    --primary-80: #007d7b;
    --primary-90: #006462;
    --primary-100: #004b4a;
    --primary-text: var(--primary-60);
    --primary-light: var(--primary-10);
    --primary-neutral: var(--primary-30);
    --primary-normal: var(--primary-50);
    --primary-strong: var(--primary-90);
    --primary-heavy: var(--primary-100);
    --header-height: 72px;
    --header-background-color: #fff;
    --scroll-margin-gap: 8px;
    --scroll-margin-top: calc(var(--header-height) + var(--scroll-margin-gap));
    --gutter: 45px;
    --max-width: 1920px;
    --max-height: 400px;
    --md-content-width: 980px;
    --sm-content-width: 780px;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 solid;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 400;
}

p {
    margin: 0;
}

ol,
ul {
    list-style: none;
}

fieldset, ol, ul {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

a {
    color: inherit;
    /* 부모 색상 따라감 */
    text-decoration: none;
    /* 밑줄 제거 */
}

#appRoot {
    position: relative;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}